@model dynamic

<div class="d-flex justify-content-end gap-2 mt-2">
    <a asp-action="ClientesPdf" class="btn btn-danger">
        <i class="fa-solid fa-file-pdf"></i>
    </a>
    <a asp-action="ClientesExcel" class="btn btn-success">
        <i class="fa-solid fa-file-excel"></i>
    </a>
</div>

<table class="table table-hover">
    <thead><tr><th>ID</th><th>Nome</th><th>CPF</th><th>Telefone</th></tr></thead>
    <tbody>
    @foreach(var c in Model.Items) {
        <tr>
            <td>@c.Id</td>
            <td>@c.Nome</td>
            <td>@c.CpfCnpj</td>
            <td>@c.Telefone</td>
        </tr>
    }
    </tbody>
</table>

@await Html.PartialAsync("_Paginacao", Model, ViewData)

