
@{
    ViewBag.Title = "Configurações";
    Layout = "_Layout";
}

<div class="row mt-3 d-flex justify-content-center">
    <div class="col-12 col-md-6 mt-2">
        <div class="card text-center">
            <div class="card-header" style="background-color: var(--secundaria);">
                <span class="text-light">Configurações da Empresa</span>
            </div>
            <div class="card-body">
                <h5 class="card-title">Acessar</h5>
                <p class="card-text">Configurações empresa</p>
                <i class="card-text fas fa-briefcase fa-4x" style="color: var(--secundaria)"></i>
            </div>
            <div>
                <a href="CadastroEmpresa" class="btn btn-primary mb-2">
                    <i class="fa-solid fa-arrow-right fs-2" alt="Acessar"></i>
                </a>
            </div>
        </div>
    </div>

    <div class="col-12 col-md-6 mt-2">
        <div class="card text-center">
            <div class="card-header" style="background-color: var(--secundaria);">
                <span class="text-light">Configurações de Orçamento</span>
            </div>
            <div class="card-body">
                <h5 class="card-title">Acessar</h5>
                <p class="card-text">Configurações orçamento</p>
                <i class="card-text fas fa-file fa-4x" style="color: var(--secundaria)"></i>
            </div>
            <div>
                <a href="ConfiguracoesOrcamento" class="btn btn-primary mb-2">
                    <i class="fa-solid fa-arrow-right fs-2" alt="Acessar"></i>
                </a>
            </div>
        </div>
    </div>
    
    
</div>
